@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

* {
    font-family: 'ubuntu', sans-serif;
    color:#333;
}

.row {
    margin:0;
}

.page {
    min-height:100vh;
}

.nav {
    margin-bottom:30px;
}

.nav a {
    height:30px;
    color:#5468ff;
}

.nav a:hover {
    text-decoration: none;
    height:30px;
    border-bottom:1px solid #007bff;
    color:#007bff;
}

.nav-shadow {
    -webkit-box-shadow: 0 1px 15px rgba(27,31,35,0.15);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 1px 15px rgba(27,31,35,0.15);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 1px 15px rgba(27,31,35,0.15);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    transition: all 0.5s ease-in-out;
}

p {
    font-weight:300;
}

h1 {
    font-size:3rem;
    font-weight:700;
}

h2 {
    font-size:1.5rem;
}

h3 {
    font-size:2rem;
    font-weight:700;
}

h4 {
    font-size:1.065rem;
    font-weight:400;
    padding: .5rem 0;
}

h6 {
    font-size:10px;
    font-weight:300;
}

.social-links a i {
    font-size:2rem;
    margin: .25rem .5rem;
}

.social-links a i:hover {
    color:#5468ff;
}

.filter {
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.project-card h2 {
    padding-top:8px;
    margin-bottom:0;
}

.project-card p {
    margin:0;
}

.project-links a i {
    font-size:1rem;
    margin: .25rem .5rem;
}

.project-links a:hover {
    text-decoration:none;
}

.tools {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12px;
}

.card {
    border:none;
    /* box-shadow: 0 1px 15px rgba(27,31,35,0.15); */ /*This was my original shadow*/
    /* box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2); */ /*This was the suggested shadow*/
    /*box-shadow: 0 0px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166,173,201,.2);*/ /*This is the suggested shadow + y-tweak*/
    -webkit-box-shadow: 0px 0px 16px #cdcdcd;
    box-shadow: 0px 0px 16px #cdcdcd;
    border-radius: 6px;
}

.card-link {
    margin-left:0 !important;
    margin-right:20px;
}

.card-link i:hover {
    color:#5468ff;
}


/* Contact Styles */
.btn-nebula {
    background-color:#5468ff;
    color:white;
}

.btn-nebula:hover {
    color:white;
    box-shadow: inset 0px 0px 5px rgba(88, 88, 88, 1);
}


/* PHP Class Key Card-Link Disablers */
.nogitlink .card-body .git-link{
    display:none;
}

.nodirectlink .card-body .direct-link{
    display:none;
}